### hi this is about string

In [ ]:
x = "hello world"
print(x)

## mathematical Operator

In [2]:
x = 6789
y = 12345
print(x+y)
print(y-x)
print(x*y)
print(x/y)
print(type(x))
print(y%x) # remainder

19134
5556
83810205
0.5499392466585662
<class 'int'>
5556

In [4]:
x = "1"
y = "1"
print(x+y)

11

# mathemcial operators are possible with number

In [12]:
# write your first name in x
# write you second name in y 
#combine them
x = 'Mikael '
s = '             '
y = ' Hussain'
print(x+s+y)

Mikael               Hussain

In [16]:
x * 10

'Mikael Mikael Mikael Mikael Mikael Mikael Mikael Mikael Mikael Mikael '

#### datatypes (1.strings 2.numbers) 3. mathematical operators 4. operatos on string

In [5]:
z = 'hi' 
s = ' my name is mikael'

print(z+s)

hi my name is mikael