In [1]:
x= ["10","20","30","40"]
# is it a number or string

In [4]:
x[0] * 5 # it is suposed to be 50

'1010101010'

In [9]:
m = "90930324"
int(m)* 2

180

In [12]:
for each in x:
    print(each * 6)
    print(int(each)*6)

101010101010
60
202020202020
120
303030303030
180
404040404040
240

In [14]:
x = 200
y = x**2 + x + 7

40207

In [17]:
KK = [43,4,32,4,23,4,5,32,34,5,32,5,23,5,3,44]
for x in KK:
    y =5*x**2 + 6*x + 7
    print(x,y)

43 9510
4 111
32 5319
4 111
23 2790
4 111
5 162
32 5319
34 5991
5 162
32 5319
5 162
23 2790
5 162
3 70
44 9951

In [9]:
masses = [1,3,3.3,4,6,10,20,30,40,50,60,70,80,90,10]
# F = m*g  #
# force of gravity on the body for all using for loop and print results against each value
for m in masses:
    F = 9.8*m*2.20462
    print(m,F)

1 21.605276
3 64.815828
3.3 71.2974108
4 86.421104
6 129.631656
10 216.05275999999998
20 432.10551999999996
30 648.15828
40 864.2110399999999
50 1080.2638
60 1296.31656
70 1512.3693199999998
80 1728.4220799999998
90 1944.47484
10 216.05275999999998

In [13]:
# you will be surprise what if a man falls from plan to a Moon what will be the force
for m in masses:
    F = 24.79*m*2.20
    print(m,F)

1 54.538000000000004
3 163.61400000000003
3.3 179.97539999999998
4 218.15200000000002
6 327.22800000000007
10 545.38
20 1090.76
30 1636.1399999999999
40 2181.52
50 2726.9
60 3272.2799999999997
70 3817.6600000000003
80 4363.04
90 4908.42
10 545.38

In [14]:
#  what will be your weight on jupyter

In [23]:
d = [56,7654,48,1,2,3,4,5,5,536]
# what is total sum of this, fin dusing for loop select one by one a number and keep on addin it to main 
total = 0

for j in d:
    total = total+j
    print(total,j)

56 56
7710 7654
7758 48
7759 1
7761 2
7764 3
7768 4
7773 5
7778 5
8314 536

In [14]:
# using for loop find the minimum value
# take a very very big number, if number is  smaller than current number 
f = [10,30,23,5,9,4,2,5,4,5]
age = 0
for g in f:
    age = age+g
    print(age,g)

10 10
40 30
63 23
68 5
77 9
81 4
83 2
88 5
92 4
97 5

In [17]:
# using for loop find the minimum value
# take a very very big number, if number is  smaller than current number 
f = [10,30,23,5,9,4,2,5,4,3,432,4324,
     3432,432,432,432,4,-1,5]
age = 10000000000000000000000000000000
for g in f:
    if g <age:
        age = g
print(age)

-1

In [2]:
# using for loop find maximum value
f = [10,30,23,5,9,4,2,5,4,3,432,4324,3432,432,432,432,4,-1,5]
age = -44848842754387348
for h in f:
    if h >age:
        age = h
        print('up',age)
print(age)

up 10
up 30
up 432
up 4324
4324

In [3]:
f

[10, 30, 23, 5, 9, 4, 2, 5, 4, 3, 432, 4324, 3432, 432, 432, 432, 4, -1, 5]

In [24]:
# find total sum of lis f
f = [10,30,23,5,9,4,2,5,4,3,432,4324, 3432,432,432,432,4,-1,5]
sum = 0
for j in f:
    sum = sum+j
print(sum)

9587

In [25]:
f = [10,30,23,5,9,4,2,5,4,3,432,4324, 3432,432,432,432,4,-1,5]
lenght = 0
for z in f:
    lenght = lenght+1
print(lenght)

19

In [27]:
average = sum/lenght
print(average)

504.57894736842104

In [32]:
#from a list can you find the closet number to the number given

f = [10,30,23,5,9,4,2,5,4,3,432,4324, 3432,432,432,432,4,-1,5]
average = 100
diffrence = f average
print(diffrence)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [41]:
 


f = [10,30,23,5,9,4,2,5,4,3,432,4324,
     3432,432,433,432,4,-1,5]

g = []
n = 500
for i in f:
    g.append(abs(i-n))
print(g)
g.index(min(g))
ind = g.index(min(g))
f[ind]

[490, 470, 477, 495, 491, 496, 498, 495, 496, 497, 68, 3824, 2932, 68, 67, 68, 496, 501, 495]

433

In [51]:
def mikael(f,n):
    g = []

    for i in f:
        g.append(abs(i-n))
 
    g.index(min(g))
    ind = g.index(min(g))
    return f[ind]

In [50]:
mikael([56,43,67,87,567,765],4354858349858903485904389058348)

[4354858349858903485904389058292, 4354858349858903485904389058305, 4354858349858903485904389058281, 4354858349858903485904389058261, 4354858349858903485904389057781, 4354858349858903485904389057583]

765

In [53]:
mikael([56,564,23,45,687,468876],67)

56

In [54]:
def almeer(f,n):
    g = []

    for i in f:
        g.append(abs(i-n))
 
 
    ind = g.index(max(g))
    return f[ind]

In [64]:
almeer([654,453,75,5613,765,1],389999999887777777787778755555555555555555555555555555555555555555555555555555555555555555555555523048977877787777777787870555555555555555555555555555555555555555555555555555555555555555555555555555538475982274874285893987475908560986034859038490584854083985084938049830589304853840584038503850384958398904380585890348503489053058058934859408058309808080398548038530985940)

1

In [ ]:
# List of 20 fruits

fruits = [
    "Apple",
    "Banana",
    "Cherry",
    "Date",
    "Elderberry",
    "Fig",
    "Grape",
    "Honeydew",
    "Indian Fig",
    "Jackfruit",
    "Kiwi",
    "Lemon",
    "Mango",
    "Nectarine",
    "Orange",
    "Papaya",
    "Quince",
    "Raspberry",
    "Strawberry",
    "Tangerine"
]

fruits

In [65]:
ltr= "e"
for each in fruits:
    if ltr in each:
        print(f'{each} has {ltr} in it')
    else:
        print(each)

NameError: name 'fruits' is not defined